.pagination {
  padding: 10px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pagination__selected {
  background-color: #F3F4F8;
  color: white;
  padding: 6px 14px;
  border-radius: 8px;

  cursor: pointer;
  margin-left: 3px;
}
