.loginContainer{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.registerContainer{
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerLogin {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    margin-top: 5px;
    cursor: pointer;
}

.containerLogin input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: #eee;
}

.containerLogin input~.checkmark {
    border: 1px solid black;
    background-color: #fff;
}
.containerLogin input:checked~.checkmark {
    background-color: #CB7EFF;
}

.containerLogin input:checked~.checkmark:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: 1px solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    
}

/* Show the checkmark when checked */
.containerLogin input:checked~.checkmark:after {
    display: block;
}

.loginOr{
    color: #77878F;
 margin: -13px 8px 0px 8px;
}
